# Node
node_modules/

# Build
dist/

# Logs
*.log

# Salesforce
.sfdx/

# Playwright
node_modules/
test-results/
playwright-report/
blob-report/
.playwright-mcp/
.auth/

# Environment variables
.env
.env.local
.env.*.local
